.achievement-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 140px;
    margin-bottom: 140px;
}


.achievement-container h1{
    font-size: 2.5vw;
    font-weight: 700;
    color: #0B98D2;
    display: block;
    margin:0;
    padding: 0;
    line-height: 1.6;
    margin-top: 1%;
}


.achievement-container p{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 300;
}


.achievement-container>div{
    width: 20%;
    height: 30%;
    margin: 0% 1%;
    display: block;
}
.img-box{
    height: 100%;
    width: 100%;
    background: #D1D1D1;
}

.img-box img{
    max-width: 100%;
    max-height: 100%;
    /* height: 100%; */
    width: 100%;
}